#pages-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.comic-container {

  display: flex;
  flex-flow:column nowrap;
  width: fit-content;

}

img {
  width: 100%;
  padding: 0;
  display: block;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
}

