<button class="first button page-nav-row-item" (click)="goToFirst()" [disabled]="haveFirstPage">
    <mat-icon>
      fast_rewind
    </mat-icon>
    <span>First</span>
</button>

<button class="previous button page-nav-row-item" (click)="goToPrevious()" [disabled]="haveFirstPage">
    <mat-icon>arrow_left</mat-icon>
    <span>Previous</span>
</button>

<div id="page-selector">
    <select [(ngModel)]=selectedNumber name="number" (change)="emitSelection()">
        <option *ngFor="let option of pageOptions" [value]="option">
            {{option}}
        </option>
    </select>
    <span>Pages at a Time</span>
</div>

<button class="button page-nav-row-item" (click)="goToNext()" [disabled]="haveLastPage">
    <mat-icon>arrow_right</mat-icon>
    <span>Next</span>
</button>

<button class="button page-nav-row-item" [disabled]="haveLastPage" (click)="goToLast()">
    <mat-icon>fast_forward</mat-icon>
    <span>Last</span>
</button>
