<div class="first button row-item" (click)="goToFirst()" *ngIf="!haveFirstPage">
    <mat-icon>fast_rewind</mat-icon>
    <span>First</span>
</div>

<div class="previous button row-item" (click)="goToPrevious()">
    <mat-icon>arrow_left</mat-icon>
    <span>Previous</span>
</div>

<div class="row-item" id="page-selector">
    <span>Pages at a Time</span>
    <select [(ngModel)]=selectedNumber name="number" (change)="emitSelection()">
        <option *ngFor="let option of pageOptions" [value]="option">
            {{option}}
        </option>
    </select>
</div>

<div class="button row-item" (click)="goToNext()">
    <span>Next</span>
    <mat-icon>arrow_right</mat-icon>
</div>

<div class="button row-item" *ngIf="!haveLastPage">
    <span>Last</span>
    <mat-icon>fast_forward</mat-icon>
</div>
