@import 'src/variables/variables';

:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.site-navigation-row {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;

  .button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    width: fit-content;

    h2 {
      padding: 0;
      margin: 0;
    }

    mat-icon {
      width: 30px;
    }
  }
}

.page-navigation-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  span {
    margin: 0;
  }

  @media screen and (max-width: $wid-phone-large) {
    .button {
      span {
        display: none;
      }
    }
  }

  @media screen and (max-width: $wid-phone-small) {
    gap: 0;
  }
}

#page-selector {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;

  span {
    font-weight: bold;
    white-space: nowrap;

    @media screen and (max-width: $wid-phone-teeny) {
      display: inline-block;
      white-space: normal;
      width: 50px;
    }
  }

  select {
    font-size: 16pt;
    padding: 5px;
    font-weight: bolder;
    border-radius: $rad-small;
    width: 70px;
  }
}

.page-nav-row-item {
  cursor: pointer;
  overflow: visible;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0;

  :hover {
    //color: $clr-hover;
    text-shadow: $glow-small;
  }

  span {
    color: white;
  }

  mat-icon {
    font-size: 60pt;
    width: fit-content;
    height: fit-content;
    overflow: visible;

    @media screen and (max-width: $wid-phone-large) {
      font-size: 30pt;
    }

  }
}

button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;

  &:disabled {
    color: rgba(0,0,0, 0.5);
  }
}
