
// small
$sp-small-1: 2px;
$sp-small-2: 4px;
$sp-small-3: 6px;
$sp-small-4: 8px;

// medium
$sp-medium-5: 10px;
$sp-medium-6: 12px;
$sp-medium-7: 13px;
$sp-medium-8: 14px;

// large
$sp-large-9: 16px;
$sp-large-10: 18px;
$sp-large-11: 24px;
$sp-large-12: 32px;
