@import 'src/variables/variables';

:host {;
  height: 100%;
}

#logo {
  width: 300px;
}

#background {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  gap: 0;
  background: $clr-background;
  padding: 0;
  margin: 0;

  img {
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  #below-header {
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    min-width: 100vw;
    background: linear-gradient(to bottom, $clr-background, black);
    margin: 0;
    padding: 0;
  }
}

:host {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  gap: 0;

  #lower-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, #484242, black);
    margin: 0;

    #main-content {
      display: flex;
      flex-flow: column nowrap;
      box-sizing: border-box;
      max-width: $wid-phone-large;
      height: 100%;
    }

    #side-bar {
      position: fixed;
      right: 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: $sp-medium-8;
      width: $sidebar-width;
      height: fit-content;
      box-sizing: border-box;
      padding: $sp-small-4;
      z-index: 5;
      transition: margin-right 5s;

      .drawer-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: $sp-small-4;
        align-items: center;
        text-align: left;
        font-size: $typo-size-sidebar;
        width: 100%;
        height: 50px;
        cursor: pointer;
        box-sizing: border-box;
        text-shadow: $shdw-small;
        color: $typo-primary;
        padding: $sp-small-2;

        @media screen and (max-width: $wid-phone-large) {
          font-size: $typo-size-sidebar-phone;
        }

        &:hover {
          background-color: white;
          color: $typo-secondary;
        }

        span {
          width: 150px;
        }
      }
    }
  }
}

.fixed {
  position: fixed;

  &_right {
    right: 10px;
  }
}

#gray-out {
  background-color: rgba(0, 0, 0, 0.69);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#settings-button {
  $settings-button-width: 5vw;

  position: fixed;
  display: flex;
  flex-flow: row-reverse nowrap;
  top: 10px;
  right: 10px;
  padding: 10px;
  height: $settings-button-width;
  width: $settings-button-width;
  align-items: center;
  z-index: 5;
  cursor: pointer;
  fill: white;
  box-shadow: 2px 2px 2px;

  :hover {
    path {
      fill: white;
      text-shadow: 1px 1px 3px white;
    }
  }
}

#settings-button {
  display: none;

}

#header {
  display: block;
  width: 100%;
  height: 200px;
  background-image: url('/assets/landscapeHeader.png');
  background-repeat: repeat-x;
  background-size: auto 200px;
  background-position-x: center;
  background-color: #b5d0e3;
  padding: 0;
  margin: 0;
}
