
<div id="header">
</div>

<div id="lower-content">
  <div id="gray-out"
       [ngClass]="{'hidden': !grayOutVisible()}" (click)="hideDrawer()">
  </div>

  <div id="main-content">
    <router-outlet></router-outlet>
  </div>

  <div id="side-bar" [ngClass]="{'hidden': !drawerIsOpen(), 'fixed_right': !wideEnoughForSideMenu}">
    <div class="drawer-item" (click)="goToFirstPage()">
      <mat-icon>first_page</mat-icon>
      <span>
        Go to Beginning
      </span>
    </div>
    <div class="drawer-item" (click)="goToLastPage()">
      <mat-icon>last_page</mat-icon>
      <span>
        Go to End
      </span>
    </div>
    <div class="drawer-item" (click)="goToAboutPage()">
      <mat-icon>info</mat-icon>
      <span>
        About
      </span>
    </div>
<!--      <div class="drawer-item" (click)="goToExtrasPage()">-->
<!--        <mat-icon>link</mat-icon>-->
<!--        <span>-->
<!--          Extras-->
<!--        </span>-->
<!--      </div>-->
<!--      <div class="drawer-item" (click)="goToTableOfContents()">-->
<!--        <mat-icon>book</mat-icon>-->
<!--        <span>-->
<!--          Table of Contents-->
<!--        </span>-->
<!--      </div>-->
<!--      <div class="drawer-item" (click)="goToSinglePage()">-->
<!--        <mat-icon>receipt</mat-icon>-->
<!--        <span>-->
<!--          Traditional Reader-->
<!--        </span>-->
<!--      </div>-->
  </div>

  <div id="footer">
    2022-2023 David "PaddleBoat" Black
  </div>
</div>
