@import 'src/variables/variables';

:host {
  height: 100%;
}

#hamburger-button {
  top: 0;
  right: 0;
  padding: $sp-small-4;
  z-index: 5;
  position: fixed;
  box-sizing: border-box;
  width: fit-content;

  .mat-icon {
    box-sizing: border-box;
    font-size: $wid-hamburger-button;
    width: $wid-hamburger-button;
    height: $wid-hamburger-button;
    text-shadow: $shdw-large;
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

#background {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  gap: 0;
  background: $clr-background;
  padding: 0;
  margin: 0;

  #headers {
    height: fit-content;
    margin: 0;
    padding: 0;

    img {
      width: 100vw;
      padding: 0;
      margin: 0;
    }
  }

  #below-header {
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    min-width: 100vw;
    background: linear-gradient(to bottom, $clr-background, black);
    margin: 0;
    padding: 0;
  }
}

#pseudo-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 0;

  #spacer {
    min-height: 150px;

    @media screen and (max-width: $wid-phone-small) {
      min-height: 250px;
    }
  }

  #lower-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100vh;

    #main-content {
      box-sizing: border-box;
      margin: 0 $sidebar-width 0 0;
      max-width: $wid-phone-large;
      height: 100%;

      @media screen and (max-width: $wid-phone-large) {
        margin: 0;
      }
    }

    #side-bar {
      position: fixed;
      right: 0;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: $sp-medium-8;
      width: $sidebar-width;
      height: fit-content;
      box-sizing: border-box;
      padding: $sp-small-4;
      z-index: 5;
      transition: margin-right 5s;

      @media screen and (max-width: $wid-phone-large) {
        top: $sp-large-12;
        left: 0;
        width: $sidebar-width-phone;
      }

      .drawer-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: $sp-small-4;
        align-items: center;
        text-align: left;
        font-size: $typo-size-sidebar;
        width: 100%;
        height: 50px;
        cursor: pointer;
        box-sizing: border-box;
        text-shadow: $shdw-small;
        color: $typo-primary;
        padding: $sp-small-2;

        @media screen and (max-width: $wid-phone-large) {
          font-size: $typo-size-sidebar-phone;
        }

        &:hover {
          background-color: white;
          color: $typo-secondary;
        }

        span {
          width: 150px;
        }
      }
    }
  }
}

.fixed {
  position: fixed;

  &_right {
    right: 10px;
  }
}

#gray-out {
  background-color: rgba(0, 0, 0, 0.69);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

#settings-button {
  $settings-button-width: 5vw;

  position: fixed;
  display: flex;
  flex-flow: row-reverse nowrap;
  top: 10px;
  right: 10px;
  padding: 10px;
  height: $settings-button-width;
  width: $settings-button-width;
  align-items: center;
  z-index: 5;
  cursor: pointer;
  fill: white;
  box-shadow: 2px 2px 2px;

  :hover {
    path {
      fill: white;
      text-shadow: 1px 1px 3px white;
    }
  }
}

#settings-button {
  display: none;

}

#phone-header {
  width: 100%;
}
