<body>
  <h1>
    About
  </h1>
  <h2>
    Finding Darwin
  </h2>
  <p>
    Finding Darwin might have begun in concept around a decade ago, with initial designs and concepts surrounding <i>one specific character</i>.
    The comic has been in development since 2019, went under a pilot phase, and finally had it's first published page in September 2022.
  </p>
  <h2>
    The Author
  </h2>
  <p>
    David Black is an artist turned software developer. They've been drawing all their life, but never saw art as a good career.
    That being said they love to draw, and as soon as they got out of school they have been putting pen to paper and drawing like crazy.
  </p>
</body>
