
<h1>
  Table of Contents
</h1>
<div id="chapters">
  <div class="chapter" *ngFor="let chapter of tableOfContents">
    <div class="chapter-header">
      <h1>
        {{chapter.chapterNumber}}: {{chapter.title}}
      </h1>
      <h3 class="page-count">
        {{chapter?.pages?.length}} pages
      </h3>
    </div>
    <div class="pages">
      <div class="page clickable" *ngFor="let page of chapter.pages" (click)="goToPage(chapter, page)">
        <h2>
          {{page.pageNumber}}
        </h2>
        <span>
          {{page.releaseDate | date: 'mediumDate' }}
        </span>
      </div>
    </div>
  </div>
</div>
