<div class="comic-container">

  <!--  When the user loads a page not from the beginning, they have to physically enable loading previous pages.-->
  <div class="initial-header">
    <h1> Chapter {{chapterNumber || 'Loading'}}, page {{pageNumber || 'Loading'}}</h1>
  </div>
  <cmc-navigation-bar [comicPages]="pages"
                      [chapter]="chapter"
                      (pageSelected)="onPageSelected($event)"
                      *ngIf="pages && chapter"/>
  <div *ngFor="let page of pages"
       class="page-slot">
    <cmc-comic-page [attr.id]="getPageId(page)"
                    class="comic-page"
                    #comicPage
                    [comicPage]="page"
                    (load)="markPageAsLoaded(page)"
                    (error)="handlePageLoadError(page)"></cmc-comic-page>
  </div>
  <cmc-navigation-bar [comicPages]="pages"
                      [chapter]="chapter"
                      (pageSelected)="onPageSelected($event)"
                      *ngIf="pages && chapter"/>
</div>
