<div class="comic-container">

  <!--  When the user loads a page not from the beginning, they have to physically enable loading previous pages.-->
  <div class="initial-header">
    <h2> Chapter {{chapterNumber || 'Loading'}}, page {{pageNumber || 'Loading'}}</h2>
<!--        <div class="comic-button"-->
<!--             (click)="unlockHeader()">-->
<!--          Load Previous Pages-->
<!--        </div>-->
  </div>
  <cmc-navigation-bar [comicPages]="pages" [chapter]="chapter" (pageSelected)="onPageSelected($event)" *ngIf="pages   "/>
  <div *ngFor="let page of pages"
       class="page-slot">
    <cmc-comic-page [attr.id]="getPageId(page)"
                    class="comic-page"
                    #comicPage
                    [comicPage]="page"
                    (load)="markPageAsLoaded(page)"
                    (error)="handlePageLoadError(page)"></cmc-comic-page>
  </div>
  <cmc-navigation-bar/>
</div>
