@import 'variables/variables';

//@font-face {
//  font-family: 'PaddleBoatFont'; /* Replace with your desired font name */
//  src: url('./assets/Paddleboathand_2-Regular.ttf'); /* Format and path to the font file */
//}

html {
  background: black;
  width: 100vw;
  overflow-x: hidden;
}
.hidden {
  display: none !important;
}

p {
  text-align: left;
}

h1, h2, h3, div, span {
  color: $typo-primary;
  text-align: center;
  font-family: 'PaddleBoatFont', sans-serif;
  width: 100%;
  margin-bottom: $sp-small-4;
  text-shadow: $shdw-large;
}

h1, p {
  margin-top: 0;
  text-shadow: $shdw-large;
}

#initial-header {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
  font-family: 'PaddleBoatFont', sans-serif;
}

#footer {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 0 0 20px 0;
}

#loading-overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  .loader {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

html, body {
  height: 100%;
}

body {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.desktop-only {
  @media screen and (max-width: $wid-phone-large) {
    display: none !important;
  }
}

.phone-only {
  @media screen and (min-width: $wid-phone-large + 1) {
    display: none !important;
  }
}

.small-phone-only {
  @media screen and (min-width: $wid-phone-small + 1) {
    display: none !important;
  }
}

.not-small-phone {
  @media screen and (max-width: $wid-phone-small) {
    display: none !important;
  }
}

.row-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  span {
    margin: 0;
    width: fit-content;
  }
}
